<div id="flashWrapper" class="alert flash">
  <button type="button" id="closeFlash" class="close">X</button>
  {{#ifvalue type value="ERROR"}}
  <div class="error">
    <i class="fa sign"></i><strong>{{type}}</strong> 
    <span>{{{message}}}</span>
  </div>
  {{/ifvalue}}
    {{#ifvalue type value="SUCCESS"}}
    <div class="success">
    <i class="fa sign"></i><strong>{{type}}</strong> 
    <span>{{{message}}}</span>
    </div>
    {{/ifvalue}}

</div>