<link href="../stylesheets/style.css" rel="stylesheet">
<div class="centerBoxWrapper" id="createSnippetsBox">
    <div id="createSnippetContent" >
        <h2>Create snippets</h2>
        <form method="post" action="/snippets/create" id="snippetForm" novalidate>
          <input type="hidden" name="_csrf" value="{{csrfToken}}">
            <div class="form-field">
                <label for="title">Title:</label>
                <input class="input" id="snippetTitle" name="title" value="Title here..." /><br>
                <label for="snippet">Snippet:</label><br>
                <textarea id="snippetTextarea" name="snippet" form="snippetForm" >{{snippet}}</textarea>
                <br>
            </div>
            <div class="form-actions">
                <button class="btn" type="submit">Create</button><a href="/snippets"><button class="btn" type="button">Back</button></a>
            </div>
        </form>
    </div>
</div>