<div class="centerBoxWrapper" id="viewSnippetsBox">
    <div id="viewBoxContent">
    <h2>View snippets</h2>
    {{#if snippets }}
    <dl id="snippets">
        {{#each snippets}}
            <dt><a class="snippetLinks" href="/snippets:{{this._id}}">{{this.username}} | {{this.snippetTitle}}</a></dt>
        {{/each}}
    </dl>
    {{/if}}    
    {{#ifvalue loggedIn value=true}}
    <a href="/snippets/create"><button class="btn" type="submit">Create Snippet</button></a>
    <a href="/logout"><button class="btn" type="submit">Logout</button></a>  
    {{else}}
    <a href="/"><button class="btn" type="submit">Login</button></a>  
    {{/ifvalue}}  
    </div>
</div>