<div class="centerBoxWrapper">
    <div class="centerBoxContent" >
    <h2>Login</h2>
    <form method="post" action="/login" novalidate>  
    <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-field">
        <label for="username">Username:</label>
        <input class="input" id="username" name="username" value="{{username}}" /><br>
        <label for="password">Password:</label>
        <input class="input" id="password" name="password" type="password" value="{{password}}" />
        </div>
        <div class="form-actions">
        <button id="loginButton" class="btn" type="submit">Login</button>
        </div>
    </form>
    <a href="/register"><button class="btn" type="submit">Register</button></a>
    <a href="/snippets"><button id="proceedNoLogin" type="submit">Proceed without logging in</button></a>
    </div>
</div>