<div class="centerBoxWrapper">
    <div class="centerBoxContent">
    <h2>Are you sure you wish to logout?</h2>
    <form method="post" action="/logout" novalidate>
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <div class="form-actions">
        <button class="btn" type="submit">Yes</button><a href="/snippets"><button class="btn" type="submit">No</button></a>
        </div>
    </form>
    </div>
</div>