<div class="centerBoxWrapper">
    <div class="centerBoxContent">
    <h2>Register</h2>
    <form method="post" action="/register" novalidate>
        <div class="form-field">
        <label for="username">Username:</label>
        <input class="input" id="regUsername" name="username" value="{{username}}" /><br>
        <label for="password">Password:</label>
        <input class="input" id="regPassword" name="password" type="password" value="{{password}}" /><br>
        <label for="password">Confirm password:</label>
        <input class="input" id="regConfirmPass" name="confirmPass" type="password" value="{{confirmPass}}" />
        </div>
        <div class="form-actions">
        <button class="btn" type="submit">Register</button><a href="/"><button class="btn" type="button">Back</button></a>
        </div>
    </form>
    </div>
</div>